<h2>Results</h2>

<% @answers.each do |object, answer| %>
    <p><%=object["correct_answers"][answer]%></p>
    <% if object["correct_answers"]["#{answer}_correct"] == "true" %>
    <p style="color:green"><%=object["question"]%></p>
    <%else%>
    <p style="color:red"><%=object["question"]%></p>
    <%end%>
<%end%>

<h2>You answered <%=@numCorrect%>/<%=@answers.length%> correct.<h2>
<% @pastResults.each do |result| %>
<h2><small><%=result%></small><h2>
<%end%>
<a href="/quiz"><button class="btn btn-default btn-lg">Reload</button></a>


