<h2>Results</h2>

<% @answers.each do |object, answer| %>
    <p><%=object["correct_answers"][answer]%></p>
    <% if object["correct_answers"]["#{answer}_correct"] == "true" %>
    <p style="color:green"><%=object["question"]%></p>
    <%else%>
    <p style="color:red"><%=object["question"]%></p>
    <%end%>
<%end%>

<h2>You answered <%=@numCorrect%>/<%=@answers.length%> correct.<h2>
<% @pastResults.each do |result| %>
<h2><small><%=result%></small><h2>
<%end%>
<form action="/quiz">
    <input type="hidden" name="questionCount" value=<%=@questionCount%>>
    <input type="hidden" name="difficulty" value=<%=@difficulty%>>
    <input type="submit" class="btn btn-default btn-lg" value="Reload (Same settings)"></button>
    <a href="/"><button class="btn btn-default btn-lg">Home (Change settings)</button></a>
</form>

<form action="/quiz">
    <input type="hidden" name="questionCount" value=<%=@questionCount%>>
    <input type="hidden" name="difficulty" value=<%=@difficulty%>>
    <input type="hidden" name="redo" value=<%=@ids%>>
    <input type="submit" class="btn btn-default btn-lg" value="ReDo"></button>
</form>




